/* Profile */
.display-name {
    font-family: var(--secFont);
    font-weight: 600;
    margin-top: 20px;
    font-size: 2em;
}

.user-email {
    font-family: var(--thirdFont);
    font-size: 1.3em;
    color: var(--yellow);
    font-weight: 400;
}

.footer-card-profile {
    background-color: var(--insideCard);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

/* Booster */
.booster-card-title {
    font-family: var(--primFont);
    font-size: 1.5em;
    font-weight: 600;
}

.booster-card-subtitle {
    font-family: var(--secFont);
    font-size: 1em;
    color: var(--yellow);
}

.booster-card-price {
    font-size: 2em;
}

.remove-toogle {
    background-color: var(--yellow);
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    border: 1px solid var(--yellow);
    transition: .3s;
}

.remove-toogle:hover {
    transform: scale(1.1);
}

/* Order */
.service-name {
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: .5px;
}

.filter-container {
    background-color: var(--card);
    width: 100%;
    border-radius: 10px;
    flex-direction: column;
}

.rank-container {
    gap: 10px;
}