.details-text {
    font-size: 1.1em;
    font-weight: 400;
    opacity: .8;
    padding: 5px 20px 0px 20px;
    text-align: justify;
    margin-top: 10px;
    transition: .3s;
}

.details-title {
    transition: .3s;
}

.details-title::marker {
    font-size: 1.3em;
}

.details-card[open] .details-title {
    color: var(--primColor);
    font-size: 1.1em;
}

.container-card {
    width: 100%;
}