.Footer {
    padding: 40px 0 10px 0;
    width: 100%;
    background-color: var(--semiBg);
}

.col {
    justify-content: flex-start;
    flex-direction: column;
    min-height: 150px;
}

.brand-overview {
    display: flex;
}

.brand-logo {
    font-size: 1.8em;
    display: flex;
    padding: .5em;
}

.brand-overview:nth-child(2) {
    padding: 5px 55px;
    font-size: 1.6em;
}

.brand-text {
    margin-right: 100px;
}

.footer-part {
    width: 100%;
    padding-left: 15px;
}

.footer-part h1 {
    font-family: var(--secFont);
    font-size: 1.2em;
    color: var(--primColor);
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-list {
    font-size: 1.1em;
    width: 85%;
    list-style: none;
    padding-left: 0;
}

.footer-list li {
    font-weight: 400;
}

.footer-copyright h3 {
    font-family: var(--thirdFont);
    font-size: 1.1em;
    font-weight: 550;
}

.footer-copyright h3 span {
    font-family: var(--thirdFont);
    font-size: 1em;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .brand-overview {
        justify-content: center;
    }

    .brand-overview:nth-child(2) {
        padding: 20px;
        font-size: 1.6em;
    }

    .brand-text {
        margin: 0;
    }
}