.Footer {
    padding: 40px 0 0 0;
    width: 100%;
    background-color: var(--bar);
    z-index: 10;
    position: absolute;
}

.col {
    justify-content: center;
    flex-direction: column;
}

.brand-overview {
    display: flex;
}

.brand-logo {
    font-size: 1.8em;
    display: flex;
    padding: .5em;
}

.brand-overview:nth-child(2) {
    padding: 5px 55px;
    font-size: 1.6em;
}

.brand-text {
    margin-right: 100px;
}

.footer-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-part h1 {
    font-family: var(--secFont);
    font-size: 1.2em;
    color: var(--primColor);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.footer-list {
    font-size: 1.1em;
    width: 100%;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.footer-list li {
    font-weight: 400;
}

.footer-copyright {
    padding: 8px 0;
}

.footer-copyright h3 {
    margin: 0;
    font-family: var(--thirdFont);
    font-size: 1.1em;
    font-weight: 550;
}

.footer-copyright h3 span {
    font-family: var(--thirdFont);
    font-size: 1em;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .Footer {
        background-color: var(--bg);
        padding: 0;
        padding-top: 32px;
        border-top: 1px solid var(--insideCard);
    }

    .brand-overview {
        justify-content: center;
    }

    .brand-overview:nth-child(2) {
        padding: 20px;
        font-size: 1.6em;
    }

    .brand-text {
        margin: 0;
    }

    .footer-part {
        padding: 0 10px;
    }

    .list-title,
    .footer-list {
        text-align: center;
    }

    .col {
        min-height: fit-content;
        padding-bottom: 50px;
    }

    .footer-copyright {
        padding: 32px 0;
    }
}