.form-container {
    width: 100%;
    height: 100%;
}

/* Module */
.container {
    padding: 20px 30px;
    border-radius: 15px;
    width: 100%;
    background-color: var(--card);
    margin-bottom: 20px;
}

.rank-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    padding: 15px 0 5px 0;
}

.rank-list,
.division-list {
    padding: 10px 20px;
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
    background-color: var(--insideCard);
    transition: .3s;
}

.rank-list:hover,
.division-list:hover {
    background-color: var(--primColor);
}

.division-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 0 5px 0;
}

.active {
    background-color: var(--primColor);
}

.number-order {
    font-size: 4em;
    margin-right: 20px;
}

.point-range-container {
    display: flex;
    justify-content: space-around;
}

.point-button {
    background-color: var(--insideCard);
    border: none;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

.platform-button {
    background-color: var(--insideCard);
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    transition: .4s;
}

.platform-button:hover {
    background-color: var(--primColor);
}

.title-form {
    font-size: 1.8em;
    font-weight: 700;
}