.modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-start;
}

.option-button {
    border: none;
    background-color: transparent;
    font-family: var(--secFont);
    margin-right: 20px;
}

.option-button:focus {
    outline: none;
}

.Socmed-Button {
    position: relative;
    color: grey;
    border: none;
    padding: .5em .5em .5em 2em;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

.Provider-Logo {
    position: absolute;
    left: 5%;
}

.form-container {
    padding-right: 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.Login-Footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.active {
    color: var(--primColor);
}