.navbar {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 10px 3vw;
    transition: .75s;
}

.navbar-logo {
    cursor: pointer;
    display: flex;
    margin-left: 3%;
    padding: 10px 5px;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
}

.navbar-list {
    align-items: center;
    list-style: none;
    padding-left: 16%;
    display: flex;
    width: 75%;
    gap: 25%;
}

.navbar-button {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-list span {
    transition: .2s;
}

.navbar-list a {
    position: relative;
    margin: 0;
    transition: .3s;
    font-size: 1em;
}

.navbar-list a:hover {
    color: var(--primColor);
}

.navbar-list a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--primColor);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left top;
    transition: .3s;
}

.navbar-list a:hover::after {
    transform: scaleX(1);
}

.active-nav {
    color: var(--primColor);
}

.close-toogle {
    display: none
}

.bar-toogle {
    display: none;
}

.scroll-dekstop {
    background-color: var(--bg);
    transition: .75s;
}

.navbar-dropdown {
    color: pointer;
    position: relative;
}

.navbar-dropdown-button {
    background-color: var(--primColor) !important;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    color: pointer;
    position: relative;
    text-transform: capitalize;
    transition: .5s;
    font-family: var(--secFont);
}

.navbar-dropdown-list {
    border: 2px solid var(--card);
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0;
    top: 50%;
    z-index: -10;
    position: absolute;
    background-color: var(--bg);
    height: fit-content;
    padding: 30% 20px 20px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.navbar-dropdown-list span {
    cursor: pointer;
    font-family: var(--secFont);
}

.actived {
    border-bottom-right-radius: 0;
}

@media only screen and (max-width: 1000px) {
    .navbar {
        padding: 40px 5vw 0 5vw;
        z-index: 1002;
    }

    .navbar-collapse {
        background-color: var(--bar);
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        justify-content: space-around;
        transform: translateX(100%);
        transition: .5s;
    }

    .show-side-bar {
        transform: translateX(0);
    }

    .navbar-list {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding-left: 0;
    }

    .navbar-list span {
        padding: 25px 0;
        width: 50vw;
        text-align: center;
    }

    .bar-toogle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }

    .close-toogle {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 4.5vh;
        font-size: 2em;
        left: 8vw;
        display: flex;
    }

    .navbar-logo {
        display: none;
    }

    .scroll-dekstop {
        background-color: transparent;
        transition: .5s;
    }

    .navbar-button {
        width: 80%;
    }
}