.brand-text {
    margin-right: 100px;
}

.navbar {
    padding: 20px 0;
    background-color: var(--bar);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar-link a {
    font-family: var(--secFont);
    font-weight: 600;
    font-size: 1.05em;
    margin-right: 50px;
    transition: 0.3s;
    position: relative;
}

.navbar-link a:hover {
    color: var(--primColor);
}

.navbar-link a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--primColor);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left top;
    transition: .3s;
}

.navbar-link a:hover::after {
    transform: scaleX(1);
}