.service-name {
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: .5px;
}

.service-slider {
    width: fit-content;
    width: 110%;
    height: 90px;
    margin: 0 -1vw;
    border-radius: 15px;
}

.service-slider-container {
    padding: 13px;
    display: flex;
    height: inherit;
    width: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
}

.service-slider-container::-webkit-scrollbar {
    height: 5px;
}

.service-slider-container::-webkit-scrollbar-thumb {
    background-color: var(--bg);
}

.game-overview {
    justify-content: flex-end;
    align-items: flex-end;
}

.checkout-title {
    font-size: 1.8em;
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    .game-overview {
        background-color: var(--bar);
        width: 100vw;
        margin-left: -2.5vw;
    }
}