.service-name {
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: .5px;
}

.game-slider {
    width: fit-content;
    width: 110%;
    max-height: 100px;
    margin: 0 -1vw;
}

.game-slider-container {
    height: 100%;
    flex-direction: row;
    display: flex;
    overflow-x: auto;
    margin-bottom: 100px;
}

.game-slider-container::-webkit-scrollbar {
    height: 5px;
}

.service-slider {
    width: fit-content;
    width: 110%;
    height: 90px;
    margin: 0 -1vw;
    border-radius: 15px;
}

.service-slider-container {
    padding: 13px;
    display: flex;
    height: inherit;
    width: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
}

.service-slider-container::-webkit-scrollbar {
    height: 5px;
}

.service-slider-container::-webkit-scrollbar-thumb {
    background-color: var(--bg);
}

.game-container {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    .game-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .game-container::-webkit-scrollbar {
        height: 5px;
    }

    .game-container::-webkit-scrollbar-thumb {
        background-color: var(--bar);
    }

    .game-overview {
        background-color: var(--bar);
        width: 100vw;
        margin-left: -2.5vw;
    }
}