@import url('https://api.fontshare.com/v2/css?f[]=author@501,400,500,200,301,601,600,300,201,401&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=supreme@501,800,400,401,200,100,300,101,301,500,201,801,701,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap');
@import '@splidejs/react-splide/css/core';
@import '@splidejs/react-splide/css';


:root {
  --primFont: 'Satoshi', sans-serif;
  --secFont: 'Supreme', sans-serif;
  --thirdFont: 'Author', sans-serif;
  --lightBg: #28264E;
  --semiBg: #141432;
  --bg: #1d1d42;
  --primColor: #524eee;
  --yellow: #f2994a;
  --green: #6fcf97;
  --textTheme: white;
}

* {
  color: var(--textTheme);
  padding: 0;
  margin: 0;
  font-family: var(--thirdFont);
  font-weight: 600;
}

html,
body {
  background-color: var(--bg);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primColor);
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.col {
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
}

.button {
  font-family: var(--secFont);
  padding: 8px 32px;
  background: rgb(171, 0, 255);
  background: linear-gradient(166deg, rgba(171, 0, 255, 1) 0%, rgba(82, 78, 238, 1) 100%);
  border: 2px solid var(--primColor);
  transition: .5s;
}

.button:hover {
  background: transparent;
  color: var(--primColor);
}

.capsule {
  border-radius: 50px;
}

.title {
  font-size: 4.8em;
  font-weight: 901;
  font-family: var(--primFont);
  text-transform: uppercase;
  font-style: italic;
}

.section-title {
  font-family: var(--primFont);
  font-size: 5em;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.section-subtitle {
  font-family: var(--secFont);
  font-size: 1em;
  color: var(--yellow);
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.subtitle {
  font-family: var(--logoFont);
  font-size: 5em;
  font-weight: 400;
}

.desc {
  font-size: 1.15em;
  font-weight: 300;
  letter-spacing: .5px;
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.card {
  padding: 15px !important;
  border-radius: 15px !important;
  background: linear-gradient(166deg, rgba(40, 38, 78, 1) 0%, rgba(57, 55, 83, 1) 100%) !important;
  box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -moz-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
}

.bordered {
  border: 3px solid var(--primColor);
}

.card-hovering {
  transition: .3s;
}

.card-hovering:hover {
  background: var(--primColor) !important;
  transform: scale(1.1);
}

.no-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.centered {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-left {
  align-items: flex-start;
}

.flex-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-row {
  flex-direction: row;
}

.flex-down {
  flex-direction: column;
}

.center-start {
  align-items: center;
  justify-content: flex-start;
}

.flex-down-centered-right {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.centered-down {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.debug-bg {
  background-color: skyblue;
}

.debug-bg2 {
  background-color: green;
}

.full-width {
  width: 100%;
  min-height: 200px;
}

.fullwidth {
  width: 100%;
}

.modal-content {
  border: 3px solid var(--primColor);
  padding: 15px !important;
  border-radius: 15px !important;
  background: linear-gradient(166deg, rgba(40, 38, 78, 1) 0%, rgba(57, 55, 83, 1) 100%) !important;
  box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -moz-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
}

.fit-content {
  min-width: fit-content;
}

.org-icon {
  color: var(--yellow);
}

.form-layout {
  background-color: var(--bg);
  border: none;
  color: white;
  width: 100%;
}

.form-layout::placeholder {
  color: white;
}

.form-range {
  -webkit-appearance: none;
}

.form-layout:focus {
  box-shadow: 0px 0px 2px 2px var(--primColor);
  background-color: var(--bg);
  color: white;
}

.circle {
  border-radius: 50%;
}