@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import '@splidejs/react-splide/css/core';
@import '@splidejs/react-splide/css';


:root {
  --logoFont: 'Anton', sans-serif;
  --primFont: 'Open Sans', sans-serif;
  --lightBg: #28264E;
  --semiBg: #141432;
  --bg: #1d1d42;
  --primColor: #524eee;
  --yellow: #f2994a;
  --green: #6fcf97;
  --textTheme: white;
}

* {
  color: var(--textTheme);
  padding: 0;
  margin: 0;
  font-family: var(--primFont);
  font-weight: 600;
}

html,
body {
  background-color: var(--bg);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primColor);
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.col {
  display: flex;
  justify-content: center;
  padding: 0;
}

.button {
  padding: 8px 32px;
  background-color: var(--primColor);
  border: 2px solid var(--primColor);
  transition: .5s;
}

.button:hover {
  background: transparent;
  color: var(--primColor);
}

.capsule {
  border-radius: 50px;
}

.title {
  font-size: 4.5em;
  font-weight: 400;
  font-family: var(--logoFont);
}

.section-title {
  font-family: var(--logoFont);
  font-size: 5em;
  font-weight: 400;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 1em;
  color: var(--primColor);
  font-weight: 700;
  text-transform: capitalize;
}

.subtitle {
  font-family: var(--logoFont);
  font-size: 5em;
  font-weight: 400;
}

.desc {
  font-size: 1.15em;
  font-weight: 300;
  letter-spacing: .5px;
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.card {
  padding: 15px !important;
  border-radius: 15px !important;
  background: linear-gradient(166deg, rgba(40, 38, 78, 1) 0%, rgba(57, 55, 83, 1) 100%) !important;
  box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -moz-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
}

.card-hovering {
  transition: .3s;
}

.card-hovering:hover {
  background: var(--primColor)
}

.no-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.centered {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-left {
  align-items: flex-start;
}

.flex-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-row {
  flex-direction: row;
}

.flex-down {
  flex-direction: column;
}

.center-start {
  align-items: center;
  justify-content: flex-start;
}

.centered-down {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.debug-bg {
  background-color: skyblue;
}

.debug-bg2 {
  background-color: green;
}

.full-width {
  width: 100%;
  min-height: 200px;
}

.modal-content {
  padding: 15px !important;
  border-radius: 15px !important;
  background: linear-gradient(166deg, rgba(40, 38, 78, 1) 0%, rgba(57, 55, 83, 1) 100%) !important;
  box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -moz-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
}

.fit-content {
  min-width: fit-content;
}