@import url('https://api.fontshare.com/v2/css?f[]=author@501,400,500,200,301,601,600,300,201,401&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=supreme@501,800,400,401,200,100,300,101,301,500,201,801,701,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap');
@import '@splidejs/react-splide/css/core';
@import '@splidejs/react-splide/css';


:root {
  --primFont: 'Satoshi', sans-serif;
  --secFont: 'Supreme', sans-serif;
  --thirdFont: 'Author', sans-serif;
  --form: #666492;
  --insideCard: #454374;
  --card: #28264E;
  --bar: #1D1D42;
  --bg: #141432;
  --primColor: #5A56EE;
  --primColor50: rgba(90, 86, 238, .5);
  --yellow: #f2994a;
  --yellow50: rgba(242, 153, 74, .5);
  --grey: #C5C5C5;
  --grey50: rgba(197, 197, 197, .5);
  --textTheme: white;
}

* {
  color: var(--textTheme);
  padding: 0;
  margin: 0;
  font-family: var(--thirdFont);
  font-weight: 600;
}

main {
  background-color: skyblue;
  z-index: 1000;
}

html,
body {
  background-color: var(--bg);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primColor);
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--secFont);
}

* {
  box-sizing: border-box;
}

b {
  color: var(--yellow);
}

.col {
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
}

.button {
  border-radius: 5px;
  font-family: var(--secFont);
  padding: 8px 32px;
  background: var(--primColor);
  border: 2px solid var(--primColor);
  transition: .5s;
}

.button-border {
  border-radius: 5px;
  font-family: var(--secFont);
  padding: 8px 32px;
  background: transparent;
  border: 2px solid var(--primColor);
  transition: .5s;
  color: var(--primColor);
}

.button-border:hover {
  background: var(--primColor);
  color: white;
}

.button:hover {
  background: transparent;
  color: var(--primColor);
}

.button-org {
  border-radius: 5px;
  font-family: var(--secFont);
  padding: 8px 32px;
  background: var(--yellow);
  border: 2px solid var(--yellow);
  transition: .5s;
}

.button-org:hover {
  background: transparent;
  color: var(--yellow);
}

.button-org-border {
  border-radius: 5px;
  font-family: var(--secFont);
  padding: 8px 32px;
  background: transparent;
  border: 2px solid var(--yellow);
  transition: .5s;
  color: var(--yellow);
}

.button-org-border:hover {
  background: var(--yellow);
  color: white;
}

.capsule {
  border-radius: 50px;
}

.title {
  font-size: 4em;
  font-weight: 901;
  font-family: var(--primFont);
  text-transform: uppercase;
  font-style: italic;
}

.section-title {
  font-family: var(--primFont);
  font-size: 4em;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.section-subtitle {
  font-family: var(--secFont);
  font-size: 1em;
  color: var(--yellow);
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.subtitle {
  font-family: var(--logoFont);
  font-size: 5em;
  font-weight: 400;
}

.desc {
  font-size: 1.15em;
  font-weight: 300;
  letter-spacing: .5px;
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.card {
  padding: 15px !important;
  border-radius: 15px !important;
  background: var(--card);
  box-shadow: 0px 0px 50% 5px rgba(20, 20, 50, 0.54) !important;
  -webkit-box-shadow: 0px 0px 50% 5px rgba(20, 20, 50, 0.54) !important;
  -moz-box-shadow: 0px 0px 50% 5px rgba(20, 20, 50, 0.54) !important;
}

.inside-card {
  padding: 15px !important;
  border-radius: 15px !important;
  background: var(--insideCard);
  box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -moz-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
}

.bordered {
  border: 2px solid var(--primColor);
}

.card-hovering {
  transition: .3s;
}

.card-hovering:hover {
  background: var(--primColor) !important;
  transform: scale(1.1);
}

.no-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.centered {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.d-i-block {
  display: inline-block;
}

.center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-left {
  align-items: flex-start;
}

.flex-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-down-centered-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.flex-down-start-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex-horizon-centered-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.centered-down {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-horizon-centered-start {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
  font-size: 1.05em;
}

.list-skin {
  font-size: .85em;
  font-weight: 400;
  background-color: var(--insideCard);
  margin-bottom: 5px;
  width: fit-content;
}

.debug-bg {
  background-color: skyblue;
}

.debug-bg2 {
  background-color: green;
}

.debug-border {
  border: 1px solid white;
}

.full-width {
  width: 100%;
  min-height: 200px;
  height: fit-content;
}

.fullwidth {
  width: 100% !important;
}

.pr-1 {
  padding-right: 6px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.modal-content {
  border: 3px solid var(--primColor);
  padding: 15px !important;
  border-radius: 15px !important;
  background: linear-gradient(166deg, rgba(40, 38, 78, 1) 0%, rgba(57, 55, 83, 1) 100%) !important;
  box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
  -moz-box-shadow: 0px 0px 40px 5px rgba(20, 20, 50, 0.54) !important;
}

.fit-content {
  min-width: fit-content;
}

.org-icon {
  color: var(--yellow);
}

.form-layout {
  background-color: var(--form);
  border: none;
  color: white;
  width: 100%;
}

.form-layout::placeholder {
  color: white;
}

.form-range {
  -webkit-appearance: none;
}

.form-layout:focus {
  box-shadow: 0px 0px 2px 2px var(--primColor);
  background-color: var(--form);
  color: white;
}

.circle {
  border-radius: 50%;
}

.checkbox,
.checkbox-prim {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background-color: var(--grey50);
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
  transition: .3s;
}

.checkbox:checked {
  background: rgba(242, 153, 74, .5);
}

.checkbox-prim:checked {
  background: var(--primColor50);
}

.checkbox:before,
.checkbox-prim:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-color: var(--grey);
  transition: .3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transform: scale(1.1);
}

.checkbox:checked::before {
  background-color: var(--yellow);
  left: 20px;
}

.checkbox-prim:checked::before {
  background-color: var(--primColor);
  left: 20px;
}

.relative-pos {
  position: relative;
}

.absolute-pos {
  position: absolute;
}

.abs-bottom {
  bottom: 0;
}

.fa-solid {
  min-width: 30px;
  font-size: 1.2em;
  text-align: center;
}

.width90 {
  width: 90%;
}

.width150px {
  min-width: 150px !important;
}

.pagination-items a {
  background-color: var(--card);
  color: white;
}

.page-link:hover {
  background-color: var(--yellow50);
  color: white;
}

.page-item.active .page-link {
  background-color: var(--yellow) !important;
}

.page-link {
  background-color: var(--card) !important;
  border: none;
}

.none {
  cursor: pointer;
}

.table {
  border-radius: 15px !important;
  background-color: var(--card) !important;
}

th,
td {
  border: none;
  padding: .8rem 2rem !important;
  vertical-align: middle;
}

td {
  font-family: var(--primFont);
  font-weight: 400;
  border-top: 1px solid var(--insideCard);
  border-right: 1px solid var(--insideCard);
}

td:last-child {
  border-right: none;
}

th {
  text-align: center;
  border-right: 1px solid var(--grey50);
  font-family: var(--secFont);
  background-color: var(--insideCard) !important;
}

thead th:first-child {
  border-radius: 15px 0 0 0;
}

thead th:last-child {
  border-radius: 0 15px 0 0;
  border-right: none;
}

.z-upper {
  z-index: 100;
}

.w-50 {
  width: 50%;
  height: 100%;
}

.w-90 {
  width: 90%;
  height: 100%;
}

.w-95 {
  width: 95%;
}

.text-org {
  color: var(--yellow)
}

.active {
  background-color: var(--primColor) !important;
}

.active-org {
  color: var(--yellow) !important;
}

#jumbo-text {
  width: 856px;
  height: 60px;
  display: block;
  stroke-linecap: square;
  fill-opacity: 0;
  transition: fill-opacity 0.5s ease-in-out;
}

.finished {
  fill-opacity: 1 !important;
}

#jumbo-text-mini {
  display: none;
}

.min-w-155px {
  min-width: 155px !important;
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 2.5em;
  }

  .section-title {
    font-size: 2.5em;
  }

  .section-subtitle {
    font-size: .9em;
  }

  #jumbo-text {
    display: none;
  }

  #jumbo-text-mini {
    display: block;
    stroke-linecap: square;
    fill-opacity: 0;
    transition: fill-opacity 0.5s ease-in-out;
    width: 370px;
    height: 130px;
  }

  .mobile-detail {
    background-color: salmon;
  }
}