.main-container {
    position: relative;
    background-color: var(--bg);
    padding: 8vw;
}

.main-container::before {
    content: "";
    border-bottom: 50px solid var(--bg);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 200px;
    position: absolute;
    top: -40px;
    left: 3vw;
}

.content-title {
    font-family: var(--primFont);
    font-size: 4em;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

.content-subtitle {
    font-family: var(--secFont);
    font-size: 1em;
    color: var(--yellow);
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.banner-bg {
    border-radius: 20px;
}

.banner-title {
    font-size: 5em;
}

.banner-collapse {
    border-radius: 20px;
    height: fit-content;
    background: url('/xiao-lantern-festival-genshin-impact-thumb(1).jpg');
    background-size: cover;
    background-position: 0% 8%;
}

@media only screen and (max-width: 1000px) {
    .content-title {
        font-size: 2.5em;
    }

    .content-subtitle {
        font-size: .9em;
    }
}