.main-container {
    position: relative;
}

.main-container::before {
    content: "";
    border-bottom: 50px solid var(--bg);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 200px;
    position: absolute;
    top: -50px;
    right: 0;
}

.content-title {
    font-family: var(--logoFont);
    font-size: 5em;
    font-weight: 400;
    text-transform: uppercase;
}

.content-subtitle {
    font-size: 1em;
    color: var(--primColor);
    font-weight: 700;
    text-transform: capitalize;
}

.banner-bg {
    border-radius: 20px;
}

.banner-title {
    letter-spacing: 10px;
    font-size: 5em;
}

.banner-collapse {
    border-radius: 20px;
    height: fit-content;
    background: url('/gg.jpg');
    background-size: cover;
    background-position: top;
}