.card-container {
    gap: 10px;
}

.filter-container {
    background-color: var(--card);
    width: 100%;
    border-radius: 10px;
    flex-direction: column;
}

.rank-container {
    gap: 10px;
}

.detail-account-title {
    color: var(--yellow);
    font-size: 1.6em;
    font-family: var(--secFont);
    font-weight: 700;
    margin-bottom: 15px;
}

.detail-list {
    list-style: none;
    font-weight: 400;
}

.stats-card {
    background-color: var(--insideCard);
    margin: 15px 0;
    padding: 15px 0;
    border-radius: 5px;
    width: 90%;
}

.stats-card-title {
    font-size: 1.4em;
    font-weight: bold;
    font-family: var(--secFont);
}

.stats-card-subtitle {
    color: var(--yellow);
    font-size: 1.1em;
}

.server-name {
    font-weight: 700;
}

.id-account {
    color: var(--yellow);
    font-size: .6em;
}

.account-desc {
    font-weight: 400;
    font-size: 1.05em;
    text-align: justify;
}

.price-tag {
    color: var(--yellow);
    font-weight: 800;
    font-size: 2.3em;
    font-family: var(--secFont);
}

@media only screen and (max-width: 1000px) {
    .card-container {
        margin: 1vw;
    }

    .id-account {
        color: var(--yellow);
        font-size: .7em;
    }
}

@media only screen and (max-width: 600px) {}