.mini-text {
    font-weight: 400;
    font-size: 1em;
    text-align: justify;
}

.sub-mini-text {
    font-weight: 300;
    font-size: .8em;
}

.service-type {
    font-family: var(--secFont);
}

.service-desc {
    color: var(--yellow);
}

.service-price {
    font-family: var(--secFont);
    color: var(--yellow);
    font-weight: 750;
    font-size: 1.8em;
}

.show-password-button {
    border: none;
    background-color: var(--form);
    height: 100%;
    padding: 6px 10px;
    border-radius: 4px;
}

.show-password-button:focus {
    outline: none;
}